/* Reset styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who have turned animations off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of reset styles */

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-sans-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ibm-plex-sans-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/fonts/ibm-plex-sans-v13-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ibm-plex-sans-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-regular.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans 700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibm-plex-sans-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ibm-plex-sans-v13-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ibm-plex-sans-v13-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../src/fonts/ibm-plex-sans-v13-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-700.svg#IBMPlexSans") format("svg"); /* Legacy iOS */
}

$ibmplexsans400: "IBM Plex Sans";
$ibmplexsans700: "IBM Plex Sans 700";

$white: #fcfaf9;
$darkblue: #191826;
$skyblue: #66e2dc;
$lightred: #fa7453;
$lightorange: #ffb964;

body {
  /*   background-image: url("../images/bg-main-mobile.png");
  background-size: cover; */
  font-family: $ibmplexsans400;
}

body::after {
  content: "";
  width: 382px;
  height: 520px;
  background-image: url(../images/bg-main-mobile.png);
  background-size: cover;
  background-position: 20% 60%;
  position: absolute;
  right: -110px;
  top: -140px;
  z-index: -1;

  @media (min-width: 768px) {
    background-image: url(../images/bg-main-tablet.png);
    background-size: cover;
    height: 667px;
    width: 115%;
    position: absolute;
    right: 0px;
    top: -77px;
    z-index: -3;
    background-position: unset;
  }

  @media (min-width: 768px) {
    background-image: url(../images/bg-main-desktop.png);
    background-size: cover;
    width: 115%;
    height: 115%;
    position: absolute;
    right: -125px;
    top: -125px;
    z-index: -3;
  }
}

.container {
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 39px 0 34px;
  }

  @media (min-width: 1024px) {
    padding: 0 165px;
  }
}

.header {
  margin-bottom: 70px;
  padding: 40px 0 0 0;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1024px) {
    padding: 62px 0 0 0;
    max-width: 1000px;
  }
}

.header__pattern-1 {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    position: absolute;
    height: 400px;
    top: -30px;
    right: -30px;
    z-index: -1;
  }

  @media (min-width: 1024px) {
    display: flex;
    position: absolute;
    height: 400px;
    top: -30px;
    right: 0;
    z-index: -1;
  }
}

.header__logo {
  padding: 0 24px 64px;

  @media (min-width: 768px) {
    padding: 0 0px 64px;
  }
}

.header__title {
  font-family: $ibmplexsans700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  padding: 0 24px 20px;
  color: $darkblue;

  @media (min-width: 768px) {
    font-size: 64px;
    line-height: 64px;
    padding: 0 0 20px;
  }

  @media (min-width: 1024px) {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
  }
}

.header__text {
  color: $darkblue;
  padding: 0 24px 170px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 28px;
    padding: 0 0 170px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 34px;
  }
}

.main {
  background-color: $darkblue;
  z-index: -10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 600px;
  margin-bottom: 360px;

  @media (min-width: 768px) {
    margin-bottom: 100px;
    z-index: 1;
  }

  @media (min-width: 1024px) {
    margin-bottom: 210px;
    z-index: 1;
  }
}

.main__phone {
  z-index: 2;
  height: 430px;
  width: 209px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    height: 556px;
    width: 270px;
    left: 25%;
    top: 138px;
  }
}

.main__pattern-2 {
  position: absolute;
  text-align: center;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translate(-50%);

  @media (min-width: 768px) {
    width: 30%;
  }

  @media (min-width: 1024px) {
    height: 67%;
    max-width: 468px;
  }
}

.premium-section {
  background-color: $lightred;
  border-radius: 12px;
  width: 100%;
  color: $white;
  z-index: 3;
  padding: 48px 36px;
  position: absolute;
  left: 50%;
  bottom: -570px;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: 60%;
    width: 400px;
    left: unset;
    right: -121px;
    bottom: -314px;
  }

  @media (min-width: 1024px) {
    width: 446px;
    right: -170px;
    bottom: -434px;
  }
}

.main__title {
  font-family: $ibmplexsans700;
  font-size: 32px;
  line-height: 40px;
  padding: 0 0 12px;

  @media (min-width: 1024px) {
    font-size: 40px;
    line-height: 52px;
  }
}

.main__text {
  font-size: 18px;
  line-height: 28px;
  padding: 0 0 36px;

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 34px;
  }
}

.main__price {
  font-family: $ibmplexsans700;
  font-size: 65px;
  line-height: 52px;
  padding: 0 0 32px;

  @media (min-width: 1024px) {
    font-size: 65px;
    line-height: 52px;
  }

  & span {
    font-family: $ibmplexsans400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    vertical-align: super;

    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
}

.main__buttons {
  text-align: center;
}

.ios-button {
  width: 80%;
  background-color: $darkblue;
  border-radius: 12px;
  margin-bottom: 16px;
  color: $white;
  font-family: $ibmplexsans700;
  border: none;
  padding: 15px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 32px;
  }

  &:hover {
    background-color: $skyblue;
  }
}

.android-button {
  width: 80%;
  background-color: $white;
  color: $darkblue;
  border-radius: 12px;
  font-family: $ibmplexsans700;
  border: none;
  padding: 15px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 32px;
  }

  &:hover {
    background-color: $lightorange;
  }
}

.footer {
  padding: 0 24px 80px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 0 0 80px;
  }

  @media (min-width: 1024px) {
    gap: 20%;
  }
}

.footer__logo-and-text {
  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    display: flex;
    width: unset;
    gap: 20%;
  }
}

.footer__logo {
  padding: 0 0 32px;

  @media (min-width: 1024px) {
    align-self: center;
    padding: 0;
  }
}

.footer__text {
  color: $darkblue;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 64px;

  @media (min-width: 1024px) {
    align-self: center;
    padding: 0;
  }
}

.footer__email {
  font-family: $ibmplexsans700;
}

.footer__social-media-icons {
  display: flex;
  gap: 20px;
  align-self: center;

  & img {
    width: 20px;
    height: 20px;
  }
}

button:hover,
a:hover {
  cursor: url(../images/pointer-hand.svg) 4 4, pointer;
}
